body {
    background: #f0f0f0;
}

.nav.nav-pills {
    padding-bottom: 20px;
}

table {
    background: #eefff0;
    font-size: 13px;
}

#app .container{
    max-width: 1400px;
}

#app .table-sm td, #app .table-sm th {
    padding: .2rem;
}

table td.mono{
    font-family: Courier, monospace;
    font-weight: 500;
}

td.mono .stocks {
    color: #e09900;
    font-weight: bold;
}

td.mono .income, td.mono .income-balance {
    color: #248524;
    font-weight: bold;
}

td.mono .balance, td.mono .balance-balance {
    color: #242485;
    font-weight: bold;
}

table td .btn-sm {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0;
    padding-bottom: 0;
    font-size: x-small;
}

table th .btn-sm {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0;
    padding-bottom: 0;
}

.form-group {
    position: relative;
}

.currency {
    color: #999999;
    font-size: xx-small;
    margin-right: 6px;
    margin-left: 2px;
    vertical-align: text-bottom;
    display: inline-block;
}

.gray {
    color: #cccccc;
}

.buttons button{
    margin-right: 12px;
}
