.nav.nav-pills {
    padding-bottom: 20px;
}

table td .btn-sm {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0;
    padding-bottom: 0;
    font-size: x-small;
}

table th .btn-sm {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0;
    padding-bottom: 0;
}

.form-group {
    position: relative;
}