<html>
	<head>      
      <link rel="icon" type="image/png" href="/s/icon.png"/>
      <link rel="stylesheet" href="/s/index.css"/>
      <title>GMZ</title>
    </head>
    <body>
      <div id="app"></div>
      <script src="/s/index.js"></script>
    </body>
</html>